@import "../../../styles/colors.scss";

.player-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid $main-brand-color;

    &.is-turn {
        background: $black;
        color: $white;
    }

    .player-sign {
        display: flex;

        img {
            max-width: 20px;
            display: inline-block;
            width: 100%;
            margin-left: 2px;
        }
    }
}