.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo{
        width: 50px;
    }
    .nav-links{
        display: flex;
        list-style: none;
    }
    .main-title{
        font-family: 'ABeeZee'; 
    }
}